@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1450px;
    padding: 0 30px;
    margin: 0 auto;
}
.app{
    padding: 25px 0;
    height: 100%;
    min-height: 100vh;
    background-image: url('../../assets//thumb-1920-909641.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.social{
    &__box{
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 40px;
    }
}
.filter{
    &__delete{
        margin: 20px 0;
        background-color: #fff;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
    }
    &__no{
        margin-top: 25px;
        font-size: 25px;
        line-height: 150%;
    }
}