.social{
    &__post{
        box-sizing: border-box;
        padding: 15px 20px;
        height: 100%;
        position: relative;
        cursor: pointer;
    }
    &__image{
        max-width: 100%;
        width: 100%;
    }
    &__title{
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 22px;
    }
}